.buttonDiv {
    padding: 10px;
    margin-left: 2%;
}

.main {
    width: 100%;
    padding: 35px 20px;
    background-color: #f2fbff;
    height: 100vh;
    position: relative;
}

.form-container:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 20%;
    z-index: -1;
}

.form-container .form-horizontal {
    background: #fff;
    padding: 30px 0 0;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
}

.form-horizontal .form-group {
    padding: 0 25px;
    margin: 0 0 20px;
}

.form-horizontal .form-group:last-of-type {
    margin-bottom: 30px;
}

.form-horizontal .form-group label {
    font-size: 13.5px;
    font-weight: 700;
}

.form-horizontal .form-control {
    color: #111;
    background: #F5F5F5;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 33px;
    padding: 6px 12px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

.form-horizontal .form-control:focus {
    background-color: rgba(216, 63, 88, 0.1);
    box-shadow: none;
}

.form-horizontal .signup {
    color: #fff;
    background-color: #4d62c4;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0;
    display: block;
    transition: all 0.3s ease 0s;
}

.form-horizontal .signup:hover,
.form-horizontal .signup:focus {
    background-color: #df405a;
}